<div class="card">
  <h2 class="card-header">Add User</h2>
  <div class="card-body">
    <%= render "form", user: @user, url: new_user_users_path(@user), method: :post, back: users_path %>
  </div>
</div>