<div class="card">
  <h3 class="card-header">Post List</h3>
  <div class="card-body">
    <div class="field form-group row float-right">
      <%= link_to "Add Post", new_post_posts_path,  class: 'btn btn-primary mr-2' %>
    </div>
    <div class="table_container">
      <table id="list" class="table table-bordered table-sm" cellspacing="0" width="100%">
        <thead class="thead-light">
          <tr>
            <th>Post Title</th>
            <th>Post Description</th>
            <th>Posted Date</th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.description %></td>
              <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    var dataTable = null
    document.addEventListener("turbolinks:before-cache", function() {
      if (dataTable !== null) {
      dataTable.destroy()
      dataTable = null
      }
    })
  dataTable = $('#list').DataTable({
    "searching": false,
    "ordering": false,
    "bLengthChange": false,
    "info": false,
    "pageLength": 5,
  }).draw();
  $('.dataTables_length').addClass('bs-select');
});
</script>