<div class="card">
  <h3 class="card-header">Add Post</h3>
  <div class="card-body">
    <%= render "form", post: @post, url: new_post_posts_path(@post), method: :post, back: posts_path  %>
  </div>
</div>
