/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table.table-bordered {
  border-bottom: none !important;
}

.edit-btn,
.upload-btn,
.create-btn,
.delete-btn {
  margin-left: 10px;
}

.btn-create,
.create-btn {
  background-color: #00b7b7 !important;
  border-color: #00b7b7 !important;
}

.btn-create:hover,
.btn-create:focus {
  text-decoration: none;
  background-color: #00b7b7;
  color: #fff;
}

.btn-edit {
  border: 1px solid #00b7b7;
  color: #00b7b7 !important;
  background-color: #fff;
  border-radius: 3px !important;
  font-size: 14px;
}

.right-btn-group {
  float: right;
}

.right-btn-group .edit-btn {
  margin-left: 10px;
}

.submit-btn-div {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.error-msg,
span.error-msg {
  color: red;
}

/* post list */
.posts-nav {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.post-filter,
.post-search,
.post-count {
  display: inline-block;
}

.post-search-div {
  width: 200px;
  display: inline-block;
  background-color: #fff;
}

.post-search-div .form-control {
  display: inline-block;
  width: 80%;
  border: none;
}

.post-search-div .search-icon {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.post-nav .post-search-div .search {
  display: inline-block;
}

.post-search-div .btn {
  float: right;
}

.clearfix {
  clear: both;
}

.clearfix:before {
  display: table;
  content: " ";
}

.list-wrapper {
  margin: 0 0 20px;
  /* border: 1px solid #52a9ac; */
  border-radius: 1px;
  box-shadow: 3px 3px 7px rgb(0 0 0 / 30%);
}

.list-wrapper .card-body {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.list-wrapper .card-body p {
  text-indent: 80px;
}

.search-group {
  position: relative;
  display: flex;
  max-width: 33%;
}

.word-break {
  word-break: break-all;
}